{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <section class="page-header-area my-course-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="page-title">My Courses</h1>
                    <ul>
                        <li class="active"><a href="">All courses</a></li>
                        <!-- <li>
                            <a href="">Wish lists</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="my-courses-area">
        <div class="container">
            <div class="row align-items-baseline">
                <div class="col-lg-6">
                    <div class="my-course-filter-bar filter-box">
                        <span>Filter By</span>
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary dropdown-toggle all-btn" href="#"
                               data-toggle="dropdown">
                                Categories
                            </a>

                            <div class="dropdown-menu">
                                {% for category in categories %}
                                    <a class="dropdown-item" href="#" id="">{{ category.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-outline-secondary dropdown-toggle" href="#" data-toggle="dropdown">
                                Instructors
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"></a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="" class="btn reset-btn" disabled>Reset</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="my-course-search-bar">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Search my courses">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row no-gutters" id="my_courses_area">
                {% for enroll in enrolls %}
                <div class="col-lg-3">
                    <div class="course-box-wrap">
                        <div class="course-box">
                            <a href="">
                                <div class="course-image">
                                    <img src="/media/{{enroll.course.thumbnail}}" alt="" class="img-fluid">
                                    <span class="play-btn"></span>
                                </div>
                            </a>
                            <div class="course-details">
                                <a href="">
                                    <h5 class="title">{{ enroll.course.title }}</h5>
                                </a>
                                <p class="instructors"></p>
                                <div class="rating your-rating-box"
                                     data-toggle="modal" data-id="{{ enroll.course.id }}"
                                     data-target="#EditRatingModal">

                                    {#                                        @php#}
                                    {#                                        $my_rating = $enroll->course->review()['rating'];#}
                                    {#                                        @endphp#}
                                    {#                                        @for($i = 1; $i <= 5; $i++)#}
                                    {#                                        @if ($i <= $my_rating)#}
                                    {#                                        <i class="fas fa-star filled"></i>#}
                                    {#                                        @else#}
                                    {#                                        <i class="fas fa-star"></i>#}
                                    {#                                        @endif#}
                                    {#                                        @endfor#}
                                    <p class="your-rating-text" id="ratings">
                                        <span class="your">Your</span>
                                        <span class="edit">Edit</span>
                                        Rating
                                    </p>
                                </div>
                            </div>
                            <div class="row" style="padding: 5px;">
                                <div class="col-md-6">
                                    <a href="{% url 'courses:course-details' enroll.course.slug %}" class="btn">Course
                                        Details</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'accounts:course-lessons' enroll.course.slug %}" class="btn">Start
                                        lesson</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
{% for enroll in enrolls %}
<div class="modal fade multi-step" id="EditRatingModal" tabindex="-1" role="dialog" aria-hidden="true"
     reset-on-close="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content edit-rating-modal">
            <div class="modal-header">
                <h5 class="modal-title step-1" data-step="1">Step 1</h5>
                <h5 class="modal-title step-2" data-step="2">Step 2</h5>
                <h5 class="m-progress-stats modal-title">
                    &nbsp;of&nbsp;<span class="m-progress-total"></span>
                </h5>

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="m-progress-bar-wrapper">
                <div class="m-progress-bar">
                </div>
            </div>
            <form action="/ratings/{{enroll.course.pk}}" method="post">
                {% csrf_token %}
                <div class="modal-body step step-1">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="modal-rating-box">
                                    <h4 class="rating-title">How would you rate this course overall?</h4>
                                    <fieldset class="your-rating">

                                        <input type="radio" id="star5" name="rating" value="5"/>
                                        <label class="full" for="star5"></label>

                                        <input type="radio" id="star4" name="rating" value="4"/>
                                        <label class="full" for="star4"></label>

                                        <input type="radio" id="star3" name="rating" value="3"/>
                                        <label class="full" for="star3"></label>

                                        <input type="radio" id="star2" name="rating" value="2"/>
                                        <label class="full" for="star2"></label>

                                        <input type="radio" id="star1" name="rating" value="1"/>
                                        <label class="full" for="star1"></label>

                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-course-preview-box">
                                    <div class="card">
                                        <img class="card-img-top img-fluid" id="course_thumbnail_1" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" class="course_title_for_rating"
                                                id="course_title_1"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body step step-2">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="modal-rating-comment-box">
                                    <h4 class="rating-title">Write a review</h4>
                                    <textarea id="review_of_a_course" name="review"
                                              placeholder="Describe your experience what you got out from this course"
                                              maxlength="1000" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-course-preview-box">
                                    <div class="card">
                                        <img class="card-img-top img-fluid" id="course_thumbnail_2" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" class="course_title_for_rating"
                                                id="course_title_2"></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="course_id" id="course_id_for_rating" value="{{ enroll.course.id }}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary next step step-1" data-step="1"
                            onclick="sendEvent(2)">Next
                    </button>
                    <button type="button" class="btn btn-primary previous step step-2 mr-auto" data-step="2"
                            onclick="sendEvent(1)">Previous
                    </button>
                    <button type="submit" class="btn btn-primary publish step step-2" id="">Publish</button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endfor%}
<!-- Modal-->

{% endblock %}
{% block scripts %}

    <script>

        function courseModal(course_id) {
            {#alert($course_id);#}
            $('#course_id_for_rating').val(course_id);
        }

    </script>

{% endblock %}